#top-third-box {
	border-radius: 15px 15px 0 0;
	width: 750px;
	background-color: rgba(98, 98, 210, 0.512);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#top-third-input {
	width: 400px;
	min-width: 250px;
	max-width: 500px;
	font-size: 48px;
	color: white;
	background-color: transparent;
	border: none;
	text-align: center;
}
#top-third-second-input {
	text-align: center;
	width: 300px;
	background-color: transparent;
	border: none;
	font-size: 18px;
	color: white;
}
