body {
	margin: 0;
	font-family: "red hat mono", monospace;
}

code {
	font-family: "red hat mono", monospace;
}
.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#whole-card {
	width: 750px;
	background-color: grey;
	border-radius: 15px;
	
}

#middle-third-box {
	display: flex;
	min-height: 125px;
	flex-direction: row;
	width: inherit;

	justify-content: space-evenly;
	overflow: auto;
}
#column {
	display: flex;
	flex-direction: column;
}
#column-header {
	background-color: transparent;
	text-align: center;
	border: none;
	font-size: 30px;
	width: 200px;
	margin-top: 10px;
}

#column-info {
	columns: 2;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	height: 0 auto;
	max-width: 300px;
	min-width: 150px;
	overflow: hidden;
}

#bottom-third-box {
	width: 750px;
	background-color: rgb(174, 174, 212);
	border-radius: 0 0 15px 15px;

}

#link-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
li {
	list-style-type: square;
}
#icon {
	width: 50px;
	height: 50px;
	filter: invert(1);
}
#icon-li {
	list-style-type: none;
}
